*{
    background-color: white;
}
h1{
    font-family: "Open Sans", Arial, sans-serif;
    color: silver;
}
.header.div{
    display: flex;  
    width: 100vw;
    height: auto;
    justify-content: center;
}
.header-img{
    display: flex;
    justify-content: center;
    height: 150px;
    width: auto;
    border-radius: 50px;
}
.header-text{
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    width: auto;
}
li{
    text-decoration: none;
}

.img-header{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border:solid silver ;
}